<!DOCTYPE html>
<html lang="pt" data-theme="dracula">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
</head>

<body>

    <header class="navbar bg-base-200 shadow-sm mb-4">
        <nav>
            <ul class="flex gap-4">
                <a class="btn btn-ghost text-xl">EpicTask</a>
                <li><a href="/">Home</a></li>
                <li><a href="/tasks">Tasks</a></li>
            </ul>
        </nav>
    </header>
    <main class="bg">

    </main>

</body>

</html>