h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    margin: 40px 0;
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.background {
    background-color: white;
    display: flex;
    background-size: cover;
}

.block-container {
    background-color: white;
    height: 500px;
    width: 300px;
    margin-left: 160px;
}

.block-inner {
    background-color: white;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
}

.block-box {
    border: 2px solid #007e7f;
    border-radius: 10px;
    background-color: #007e7f;
    height: 430px;
    width: 245px;
}

.block-small-box {
    border: 2px solid #d3d3d3;
    background-color: #d3d3d3;
    margin: 21px;
    height: 70px;
    width: 70px;
}

.inline-container {
    background-color: white;
    height: 600px;
    width: 600px;
    margin-left: 80px;
}

.inline-inner {
    background-color: white;
    height: 600px;
    width: 600px;
}

.inline-box {
    border: 2px solid #007e7f;
    background-color: #007e7f;
    height: 150px;
    width: 600px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.inline-small-box {
    border: 2px solid #d3d3d3;
    background-color: #d3d3d3;
    margin: 21px;
    height: 30px;
    width: 80px;
}

.inline-small-box.medium {
    width: 120px;
}

.inline-small-box.small {
    width: 80px;
}

.inline-small-box.tiny {
    width: 35px;
}

.inlineblock-container {
    background-color: white;
    height: 330px;
    width: 500px;
    display: flex;
    justify-content: center;
}

.inlineblock-box {
    background-color: white;
    height: 500px;
    width: 500px;
    margin-left: 100px;
}

.inlineblock-inner-box {
    border: 2px solid #007e7f;
    border-radius: 10px;
    background-color: #007e7f;
    height: 430px;
    width: 490px;
    display: flex;
    justify-content: center;
}

.inlineblock-small-box {
    border: 2px solid #d3d3d3;
    background-color: #d3d3d3;
    margin: 21px;
}

.inlineblock-small-box.large {
    height: 70px;
    width: 90px;
}

.inlineblock-small-box.medium {
    height: 70px;
    width: 70px;
}

.inlineblock-small-box.tall {
    height: 97px;
    width: 70px;
}

.inlineblock-small-box.short {
    height: 30px;
    width: 100px;
}

.border-span {
    border: 2px solid black;
}

.icon {
    background-image: url("https://cdn.icon-icons.com/icons2/2591/PNG/96/hacker_anonymous_icon_154428.png");
    background-size: cover;
    height: 70px;
    width: 70px;
    display: inline-block;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
